Package: sged
Section: misc
Version: {{ SGE_INSTALLER_VERSION }}
Architecture: {{ PLATFORM }}
Maintainer: Sge team <info@sge.io>
Build-Depends: debhelper (>= 9)
Description: SGE Blockchain
 This project present Synthetic Asset and Gaming Exchange (Sge), a decentralized (and trustless) sports betting protocol powered by Sge token using Cosmos SDK. Sge’s design enables bettors to place wagers on a given sporting event or participate as the book maker by receiving bets as a decentralized and autonomous house (DAO)† that pays or collects from bettors. Sge leverages the scaling capacity, blockchain interoperability and minimal gas fees of the Cosmos SDK infrastructure to provide a seamless and real-time wagering experience.
